<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Search.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WindowsFormsApp_xpTes.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp_xpTes.Properties.Settings.dbConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\1_develop\WindowsFormsApp_xpTes\WindowsFormsApp_xpTes\bin\x86\Debug\db\db.mdb"
            providerName="System.Data.OleDb" />
        <add name="Search.Properties.Settings.dbConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\1_develop\WindowsFormsApp_xpTes\WindowsFormsApp_xpTes\bin\x86\Debug\db\db.mdb"
            providerName="System.Data.OleDb" />
        <add name="Search.Properties.Settings.dbConnectionString1" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\db\db.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <userSettings>
        <Search.Properties.Settings>
            <setting name="DbLocalPath" serializeAs="String">
                <value>db/db.mdb</value>
            </setting>
            <setting name="CurrentLanguage" serializeAs="String">
                <value>EN</value>
            </setting>
            <setting name="MainLocation" serializeAs="String">
                <value>300, 300</value>
            </setting>
            <setting name="RemoteDb" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DbRemotePath" serializeAs="String">
                <value>C:\1_develop\WindowsFormsApp_xpTes\WindowsFormsApp_xpTes\db\db1.mdb</value>
            </setting>
        </Search.Properties.Settings>
        <WindowsFormsApp_xpTes.Properties.Settings>
            <setting name="DbLocalPath" serializeAs="String">
                <value>db/db.mdb</value>
            </setting>
            <setting name="CurrentLanguage" serializeAs="String">
                <value>RU</value>
            </setting>
            <setting name="MainLocation" serializeAs="String">
                <value>300, 300</value>
            </setting>
            <setting name="RemoteDb" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DbRemotePath" serializeAs="String">
                <value>C:\1_develop\WindowsFormsApp_xpTes\db.mdb</value>
            </setting>
        </WindowsFormsApp_xpTes.Properties.Settings>
    </userSettings>
</configuration>